* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

/* HEADER */
header {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #222;
}

nav a {
  color: #fff;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  background: #444;
}

/* CONTAINER */
.container {
  padding: 12px;
}

/* PRODUCT CARD */
.product-card {
  background: #fff;
  max-width: 420px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* IMAGES */
.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* VIDEO */
.video-container {
  width: 100%;
  margin: 12px 0;
}

.video-container video {
  width: 100%;
  border-radius: 8px;
  background: #000;
}

/* TEXT */
h3 {
  margin-top: 15px;
}

ul {
  padding-left: 18px;
}

/* PRICE */
del {
  color: #888;
}

/* BUTTON */
button {
  width: 100%;
  background: #25D366;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: #1ebd5a;
}

/* FOOTER */
footer {
  margin-top: 20px;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

/* STICKY WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 18px;
  right: 18px;
  background: #25D366;
  color: white;
  padding: 14px 16px;
  border-radius: 50%;
  font-size: 22px;
  z-index: 1000;
  text-decoration: none;
}

/* DESKTOP ADJUSTMENT */
@media (min-width: 768px) {
  .product-card {
    max-width: 600px;
  }
  .profile-box {
  text-align: center;
  margin-bottom: 20px;
}

.profile-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #25D366;
}

.profile-box p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

}
